*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/Spotlight-library/build
/Spotlight-library/Spotlight-library.iml
.idea 2/
app/fabric.properties
.idea/misc.xml
Spotlight-library/Spotlight-library.iml